<!DOCTYPE html>
<html>
    <head>
        <title>Kalendorius</title>

        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">
        <link
            rel="stylesheet"
            href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css">
        <link
            rel="stylesheet"
            media="print"
            href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.min.css">

        <style>
            body {
                margin-top: 15px;
            }
        </style>

        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/locale-all.js"></script>

        <script>
            $(document).ready(function() {
                $('#calendar').fullCalendar({
                    locale: 'lt',
                    events: [
                        {% for event in events %}
                        {
                            title: '{{ event.title }}',
                            start: '{{ event.start_at }}'
                        }
                        {% endfor %}
                    ]

                })
            });
        </script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <div>etiketės</div>
                    <ul>
                    {% for label in labels %}
                        <li>{{ label.title }}</li>
                    {% endfor %}
                    </ul>

                    <div>kategorijos</div>
                    <ul>
                    {% for category in categories %}
                        <li>{{ category.title }}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-md-11">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </body>
</html>
